*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background: #ffffff;
  border: 1px solid;
}

.pie {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.percent {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}